<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}GUIDcoin{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="/static/common/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/static/common/css/styles.css" rel="stylesheet">

        <script type="text/javascript">
        <!--
        (function() {
            if ("-ms-user-select" in document.documentElement.style &&
                    (navigator.userAgent.match(/IEMobile\/10\.0/) || navigator.userAgent.match(/WPDesktop/))) {
                var msViewportStyle = document.createElement("style");
                msViewportStyle.appendChild(
                    document.createTextNode("@-ms-viewport{width:auto!important}")
                );
                document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
            }
        })();
        //-->
        </script>
    </head>

    <body>

        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">GUIDcoin</a>
                </div>
            </div>
        </div>

        <div class="container main-container">
            {% block content %}{% endblock %}
        </div> <!-- /container -->

        <footer class="footer" role="contentinfo">
            <div class="container">
                <p>&copy; 2014 Kevin Barnes</p>
            </div>
        </footer>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
        <script src="/static/common/js/bootstrap.min.js"></script>
        {%  block includes %}
        {% endblock %}
    </body>
</html>

